.CalculatorResults{
    .resultsColumn{
        background: rgba(106, 136, 255, 0.2);
        padding-bottom:1em;
        &.loan{
          background: rgba(198, 68, 61,0.2);
        }
      }
    .ResultsTable{
        @media only screen and (max-width:480px){
            font-size:0.9em;
        }
    }
}