.CalculatorControllers {

    .SliderWrapper{
      position:relative;
        margin-top:3em;
        .sliderRanges{
          .limitBar{
            background: rgba(106, 136, 255, 0.2);
            position:absolute;
            top:0;
            height:4px;
            &.loanBar{
              background: rgba(198, 68, 61,0.2);
              top: 10px;
              left: auto;
            }
          }
        }
    }
    .input-range__slider {
        appearance: none;
        background: #6a88ff;
        border: 1px solid #6a88ff;
        border-radius: 100%;
        cursor: pointer;
        display: block;
        height: 1rem;
        margin-left: -0.5rem;
        margin-top: -0.65rem;
        outline: none;
        position: absolute;
        top: 50%;
        transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
        width: 1rem; }
        .input-range__slider:active {
          transform: scale(1.3); }
        .input-range__slider:focus {
          box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
        .input-range--disabled .input-range__slider {
          background: #cccccc;
          border: 1px solid #cccccc;
          box-shadow: none;
          transform: none; }
      
      .input-range__slider-container {
        transition: left 0.3s ease-out; }
      
      .input-range__label {
        display: none;
        color: #aaaaaa;
        font-family: "Helvetica Neue", san-serif;
        font-size: 0.8rem;
        transform: translateZ(0);
        white-space: nowrap; }
      
      .input-range__label--min,
      .input-range__label--max {
        bottom: -1.4rem;
        position: absolute; }
      
      .input-range__label--min {
        left: 0; }
      
      .input-range__label--max {
        right: 0; }
      
      .input-range__label--value {
        position: absolute;
        top: -3.5rem;
        display: block;
        .input-range__label-container{
            display: inline-block;
            padding: 0.5em;
            text-align: center;
            box-sizing: border-box;
            border-radius: 10px;
            background: #6a88ff;
            color: #fff;
            font-size: 1.2em;
            transition: font-size .3s ease;
            
            &:after{
                content:"";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: #6a88ff transparent transparent transparent;
                position: absolute;
                bottom:-5px;
                left:0;right:0;
                margin: auto;
            }
        }
    }
      .input-range__label-container {
        left: -50%;
        position: relative; }
        .input-range__label--max .input-range__label-container {
          left: 50%; }
      
      .input-range__track {
        background: #eeeeee;
        border-radius: 0.3rem;
        cursor: pointer;
        display: block;
        height: 0.3rem;
        position: relative;
        transition: left 0.3s ease-out, width 0.3s ease-out; }
        .input-range--disabled .input-range__track {
          background: #eeeeee; }
      
      .input-range__track--background {
        left: 0;
        margin-top: -0.15rem;
        position: absolute;
        right: 0;
        top: 50%; }
      
    .input-range__track--active {
        background: #3f51b5; }
      
    .input-range {
        height: 1rem;
        position: relative;
        width: 100%; 
    }
      
    .highlight-text{
        display:inline-block;
        font-weight: 600;
        color: #6a88ff;
    }

    .ui.input .interestInput{
      padding-left: 0.2em;
      padding-right: 0.2em;
      max-width:2em;
      text-align: center;
    }
    .noBottomPadding{
      padding-bottom:0!important;
      .interestColumn{
        background: rgba(106, 136, 255, 0.2);
        padding-top:1em;
        padding-bottom:1em;
        &.loanColumn{
          background: rgba(198, 68, 61,0.2);
        }
      }
    }

      /*# sourceMappingURL=index.css.map */
}